<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, <strong>{{name}}</strong>!</p>
  <p>Confirme seu cadastro no Pally.</p>
  <p>
    código: <strong>{{code}}</strong>
  </p>
  </p>
  <p>Ou clicando no link à baixo.</p>

  <p>
    <a href="{{link}}">Confirmar cadastro</a>
  </p>
  <p>Obrigado <br>
    <strong>Equipe Pally</strong>
  </p>
</div>
